ul.gravityview-az-filter {

	margin: 10px 0;

	&, li {
		list-style: none!important;
		padding: 0;
		background: none;
	}

	li {

		margin: 0;
		float: left;

		a {
			padding: 0 .4em;
		}

		&.last a {
			padding-right: 0;
		}

		&.first a {
			padding-left: 0;
		}

		&.gv-active a {
			font-weight: bold;
		}

		&.gv-uppercase a {
			text-transform: uppercase!important;
		}
	}
}
